{% from 'nav.html' import nav %}
<!DOCTYPE html>

{% set metamanagers = ['export()', 'bezier()', 'plotstyle()', 'transform()', 'layer()', 'font()', 'color()',  ]%}
{% set managers =  ['stroke()', 'fill()', 'pen()', 'translate()', 'rotate()', 'scale()', 'skew()', 'reset()', 'alpha()', 'blend()', 'shadow()', 'plot()', ('plot()', 'clear()'), ('clip()', 'mask()'), ]%}

{%- macro sectionpage(src) -%}
{%- set dst = 'Misc' if src in ('Entropy', 'Utility') else src -%}
ref/{{dst}}.html
{%- endmacro %}


{%- macro reference(sect, link) -%}
{% set ctxclass=' class="cm"' if link in managers else ' class="cmm"' if link in metamanagers else '' %}
{% if isinstance(link, tuple) %}
<li{{ctxclass}}>{% for lnk in link %} <a href="ref/{{sect}}.html#{{lnk}}">{{lnk}}</a> {% endfor%} </li>
{% elif not link %}
<li><hr></li>
{% else %}
<li{{ctxclass}}><a href="{{sectionpage(sect)}}#{{link}}">{{link}}</a></li>
{% endif %}
{%- endmacro %}

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>PlotDevice Manual</title>
  <link rel="stylesheet" href="etc/manual.css" type="text/css" charset="utf-8">
</head>
<body class="commands">

  {{nav()}}

  <div class="toc ref">
    <h1>Reference</h1>
    <ul class="filter"><li class="commands active">Commands</li><li class='types'>Types</li><li class='compat'>Etc.</li></ul>
    <div class="sidebar">
      <div class="commands">
        <p>Commands marked with a dot support the python <a class="noexternal" title="a.k.a. ‘context managers’" href="http://python.org/dev/peps/pep-0343/"><code>with</code></a>
           statement to <a title="PlotDevice Tutorial: Graphics State" href="tut/Graphics_State.html">limit their scope</a>.</p>
        <p>Commands with open dots will also reset any changes made within the block. </p>
      </div>
      <div class="types">
        <p>To create graphics objects without adding them to the canvas, instantiate them from their respective classes.</p>

      </div>
      <div class="compat">
        <p>NodeBox commands drawn in cyan are supported but most have been obviated by an alternate syntax.</p>
        <p>Consult their reference entries for details.</p>
      </div>
    </div>
    <div class="sections">
      {% for sect, groups in ref.items() %}
      <div class="section {{sect.lower()}}">
        <h2><a href="{{sectionpage(sect)}}">{{sect.replace('+',' &amp; ')}}</a></h2>
        {% for group, links in groups.items() %}
        <ul class="{{group}}">
          {% for link in links %}
          {{ reference(sect, link) }}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="toc tut">
    <h1>Tutorials</h1>
    <div class="sections">
      {% for sect, links in tut.items() %}
      <div class="section">
        <h2>{{sect}}</h2>
        <ul>
          {% for link in links %}
          <li><a href="tut/{{link}}.html">{{link.replace('_',' ').replace('Bezier','Bézier')}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="toc lib">
    <h1>Libraries</h1>
    <div class="sections">
      {% for sect, links in lib.items() %}
      <div class="section">
        <h2>{{sect}}</h2>
        <ul>
          {% for link in links %}
          <li><a href="lib/{{link.replace(' ','_')}}.html">{{link}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="toc footer">
    Derived from <a class="noexternal" href="http://organisms.be">Tom De Smedt</a>’s manual for <a class="noexternal" href="http://nodebox.net/code">NodeBox</a>
    <a class="noexternal" href="http://www.emrg.be/" title="Experimental Media Research Group">© 2004-2012</a>.
    <br>
    Rewritten for <a class="noexternal" href="http://plotdevice.io">PlotDevice</a> by <a class="noexternal" href="http://samizdat.cc">Christian Swinehart</a>.
  </div>
  <script src="etc/zepto.min.js"></script>
  <script>
    Zepto(function($){

      // handle Commands/Types clicks for the refs
      $('.filter').on('click', 'li', function(e){
        var elt = $(e.target).closest('li')
        $('.filter li.active').removeClass('active')
        $('body').attr('class',elt.attr('class'))
        elt.addClass('active')
      })
    })
  </script>
</body>
</html>
