
@import url("type/typography.css");

/**************************************/
/* TYPOGRAPHY */

body, table, td, input, select, option, textarea { font: 14px Georgia; line-height: 20px;}
/*body { -webkit-text-size-adjust:100%;}*/

h1, h3 { font: bold 18px "Cabin"; }
h3 { margin-top: 15px; }
h2 { font: bold 14px "Cabin"; line-height: 1.5em; margin-top: 15px; }
pre { font-size: 12px; font-family:"Courier Prime"; line-height: 19px; overflow:auto;}
code { font-family:"Courier Prime"; letter-spacing:0; line-height: 16px;}
code.box{ padding:0 4px;}
p code { font-size:13px;}
.message { font: bold 14px "Cabin"; line-height: 18px; }
div#title h1 { line-height: 0.8em; margin: 0; padding: 0; font-size: 50px; letter-spacing: -3px; }

/***************************************/
/* GLOBAL STYLING */

/* Paragraphs */
p { margin: 10px 0 10px 0; }

/* Tables */
table { color: #333; }
th { text-align: left; }
td { vertical-align: top; padding: 0 10px 2px 0; margin: 0;}

/* Links */
a { color: #bb4200; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0 }
a.zip { background: url("../g/media/zip.png") no-repeat; padding: 0 0 48px 52px; }
a.pdf { background: url("../g/media/pdf.png") no-repeat; padding: 0 0 48px 52px; }
a.mov { background: url("../g/media/mov.png") no-repeat; padding: 0 0 48px 52px; }
a.mp3 { background: url("../g/media/mp3.png") no-repeat; padding: 0 0 48px 52px; }

/* Images */
img { border: 0; }

/* Lists */
ul { margin: 0px; padding-left: 20px; }
ul li { }

/* Line */
hr { height: 0px; border: 0; border-bottom: 1px solid #ccc; margin: 5px 0 0px 0; padding: 0px; }

/* Forms */
input, select { width: 120px; margin: 0 5px 0 0; }
/*input, select, textarea { border: 1px solid #999; }
input:focus, select:focus, textarea:focus { border: 1px solid rgb(0,128,255); }*/
input { padding: 1px 2px 1px 2px; }
input[type="file"], input[type="checkbox"] { width: auto; }
textarea { width: 100%; height: 200px; margin-bottom: 5px; padding: 3px; }
iframe { border: 0; }

/* Code */
/*pre { margin: 0; font-family:"Source Code Pro", "Courier Prime"; font-weight:600;}*/
pre { margin: 0; font-family:"Courier Prime"; }
pre { background:#edede6; border: 1px solid #d3d3ba; color: #555; padding: 2px 5px 2px 5px; }
ul+pre { margin-top: 10px; }
td pre { margin-top: 5px; margin-bottom: 5px; }
pre+pre { margin-top: 5px;}
pre { margin: 10px 0 10px 0; }
code.box { background:#edede6; color:#665; border: 1px solid #d3d3ba;}

/* Syntax colors */
.kw{   color: #366789; font-weight:bold;}
.red{  color: #bb4200; font-weight:bold;}
.str{  color: #366789; }
.s{    color: #555;}
.grey{ color: #8a8a69;}


/* pygments */

/* Keyword.Constant */       .kc { color: #366789; /*font-weight: bold*/ }
/* Comment */                .c { color: #8a8a69; font-style: italic }
/* Literal.Number.Float */   .mf { color: #366789 }
/* Name.Namespace */         .nn { color: #bb4200; font-weight: bold }
/* Keyword */                .k { color: #7e882c; font-weight: bold }
/* Name.Class */             .nc { color: #bb4200; font-weight: bold }
/* Literal.Number.Integer */ .mi { color: #366789 }
/* Keyword.Namespace */      .kn { color: #7e882c; font-weight: bold }
/* Name.Function */          .nf { color: #bb4200 }
/* Literal.String */         .s { color: #366789 }
/* Name.Builtin.Pseudo */    .bp { color: #7e882c }
/* Operator */               .o { color: #666666 }
/* Operator.Word */          .ow { color: #7e882c; font-weight: bold }
/* Name.Builtin */           .nb { color: #7e882c }
/* Literal.String.Doc */     .sd { color: #366789; font-style: italic }
/* Literal.String.Escape */  .se { color: #BB6622; font-weight: bold }
/* Literal.String.Interpol */.si { color: #BB4200;}
/* Error */                  /*.err { border: 1px solid #FF0000 }*/


/* defaults */

/* Keyword.Constant */       /*.kc { color: #008000; font-weight: bold } */
/* Comment */                /*.c { color: #408080; font-style: italic } */
/* Literal.Number.Float */   /*.mf { color: #666666 } */
/* Error */                  /*.err { border: 1px solid #FF0000 } */
/* Name.Namespace */         /*.nn { color: #0000FF; font-weight: bold } */
/* Keyword */                /*.k { color: #008000; font-weight: bold } */
/* Name.Class */             /*.nc { color: #0000FF; font-weight: bold } */
/* Literal.Number.Integer */ /*.mi { color: #666666 } */
/* Keyword.Namespace */      /*.kn { color: #008000; font-weight: bold } */
/* Name.Function */          /*.nf { color: #0000FF } */
/* Literal.String */         /*.s { color: #BA2121 } */
/* Name.Builtin.Pseudo */    /*.bp { color: #008000 } */
/* Operator */               /*.o { color: #666666 } */
/* Operator.Word */          /*.ow { color: #AA22FF; font-weight: bold } */
/* Name.Builtin */           /*.nb { color: #008000 } */
/* Literal.String.Doc */     /*.sd { color: #BA2121; font-style: italic } */
/* Literal.String.Escape */  /*.se { color: #BB6622; font-weight: bold } */

/* Comment.Multiline */           /*.cm { color: #408080; font-style: italic } */
/* Comment.Preproc */             /*.cp { color: #BC7A00 } */
/* Comment.Single */              /*.c1 { color: #408080; font-style: italic } */
/* Comment.Special */             /*.cs { color: #408080; font-style: italic } */
/* Generic.Deleted */             /*.gd { color: #A00000 } */
/* Generic.Emph */                /*.ge { font-style: italic } */
/* Generic.Error */               /*.gr { color: #FF0000 } */
/* Generic.Heading */             /*.gh { color: #000080; font-weight: bold } */
/* Generic.Inserted */            /*.gi { color: #00A000 } */
/* Generic.Output */              /*.go { color: #888888 } */
/* Generic.Prompt */              /*.gp { color: #000080; font-weight: bold } */
/* Generic.Strong */              /*.gs { font-weight: bold } */
/* Generic.Subheading */          /*.gu { color: #800080; font-weight: bold } */
/* Generic.Traceback */           /*.gt { color: #0044DD } */
/* Keyword.Declaration */         /*.kd { color: #008000; font-weight: bold } */
/* Keyword.Pseudo */              /*.kp { color: #008000 } */
/* Keyword.Reserved */            /*.kr { color: #008000; font-weight: bold } */
/* Keyword.Type */                /*.kt { color: #B00040 } */
/* Literal.Number */              /*.m { color: #666666 } */
/* Name.Attribute */              /*.na { color: #7D9029 } */
/* Name.Constant */               /*.no { color: #880000 } */
/* Name.Decorator */              /*.nd { color: #AA22FF } */
/* Name.Entity */                 /*.ni { color: #999999; font-weight: bold } */
/* Name.Exception */              /*.ne { color: #D2413A; font-weight: bold } */
/* Name.Label */                  /*.nl { color: #A0A000 } */
/* Name.Tag */                    /*.nt { color: #008000; font-weight: bold } */
/* Name.Variable */               /*.nv { color: #19177C } */
/* Text.Whitespace */             /*.w { color: #bbbbbb } */
/* Literal.Number.Hex */          /*.mh { color: #666666 } */
/* Literal.Number.Oct */          /*.mo { color: #666666 } */
/* Literal.String.Backtick */     /*.sb { color: #BA2121 } */
/* Literal.String.Char */         /*.sc { color: #BA2121 } */
/* Literal.String.Double */       /*.s2 { color: #BA2121 } */
/* Literal.String.Heredoc */      /*.sh { color: #BA2121 } */
/* Literal.String.Other */        /*.sx { color: #008000 } */
/* Literal.String.Regex */        /*.sr { color: #BB6688 } */
/* Literal.String.Single */       /*.s1 { color: #BA2121 } */
/* Literal.String.Symbol */       /*.ss { color: #19177C } */
/* Name.Variable.Class */         /*.vc { color: #19177C } */
/* Name.Variable.Global */        /*.vg { color: #19177C } */
/* Name.Variable.Instance */      /*.vi { color: #19177C } */
/* Literal.Number.Integer.Long */ /*.il { color: #666666 } */
/*.hll { background-color: #ffffcc }*/










/* Style items */
.orange_box { background: #bb4200; color: white; font-size: 85%; font-weight: bold; padding: 2px 4px 2px 4px; margin: 0 5px 0 0; }
.grey_box { background: #666; color: white; font-size: 85%; font-weight: bold; padding: 2px 4px 2px 4px; margin: 0 5px 0 0; }
.header_image { display: none; }
.big_text { font-size: 160%; line-height: 1.1em; }
.small_text { font-size: 80%; }
.image_border img, table span.image_border img, .border { border: 1px solid #888; }
.transparency_grid img{ background:url("ref/transparency-grid.png"); }

.double-dagger { font-style:italic; position:relative;}
.double-dagger:after{
  content:"‡";
  position:absolute;
  left:-20px;
  top:1px;
  color:#bb4200;
  font-size:24px;
}

/***************************************/
/* EXTERNAL LINKS */
a[href^="http"] {
    padding-right: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKxJREFUeNpi/P//P8OZM2cYkIHYzNz/DFgAC7qA2IbO/wwyagyvvHMZ0Q1gQlf8KqCckeHJLYgmbCaLTc1ClWBhZvijZoThDLjJr7KnMYIwWKGtH8M7LVdGoWu7/yPbwILuLmSFLIc3QcS3Tv6PYjIIgBSy3L/BAFf45y/Dq/TJjAy/v4FpFMUgE/8oajCAFIIVIXsaW9CBNDBouTLgDWeMEMECGEExSCwACDAAZEhL5BSQ7NkAAAAASUVORK5CYII=);
    background-position: right !important;
    background-repeat: no-repeat;
}
a.noexternal { background-image:none !important; padding-right: 0; }

/***************************************/
/* TABLE OF CONTENTS */

/* row layout */
.toc.ref{ margin-top:40px; margin-bottom:0;}
.toc.lib{ padding-bottom:20px; }
.toc.ref .section{ min-height:180px; }
.toc.lib .section{ min-height:150px; }
.toc.tut .section{ min-height:150px; }

/* basic styles for each section's row */
.toc{
  overflow:auto;
  padding-bottom:20px;
  border-top:1px solid #666;
  font-size:13px;
  position:relative;
}

.toc h1{
  position:absolute;
  width:120px;
  margin-left:14px;
}

.toc.tut h1{
  height:100px;
}

.toc .sections{
  padding-left:215px;
  min-width:300px;
  overflow:auto;
}


.toc .section{
  float:left;
  width:135px;
  /*margin-right:15px;*/
  position:relative;
}

.toc .section a{
  font-style:italic;
}

.toc .section a[href="tut/plotdevice.html"]{
  font-family:"Courier Prime";
  font-style:normal;
}

.article .section h3{
  margin:12px 0;
}

.ref.article .section h3{
  font:bold 18px "Courier Prime";
}


.ref.article .section h3 span.args{
  font-weight:normal;
  /*font-family:Courier;*/
  color:#aaa;
}




.toc .section h2{
  padding-top:1px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:12px;
  font-weight:700;
  color:#888;
}

.toc .section h2 a{
  color:#888;
  font-style:normal;
}

.toc .section h2 a:hover{
  color:black;
  text-decoration:none;
}
.toc .section ul hr{
  border:0;
  margin:2px 0 1px 0;
  max-width:120px;
  background:#8bc;
  height:1px;
}

.toc .section ul li{
  max-width:130px;
}


/* draw slashes between reference links on the same line */
.toc .section ul li a+a:before{
  content:" / ";
  color:#589;
}


/* overlapping command/type/compat-specific ul's in each section column */
.toc .section ul{
  list-style-type:none;
  padding:0;
  float:left;
}

.toc .section ul.types li{
  max-height:18px;
}
.toc .section ul.types a{
  font-family:"Courier Prime";
  font-style:normal;
}

/*.toc .section.utility ul.types li:last-child a,*/
.toc .section.entropy ul.types li:last-child a,
.toc .section.canvas ul.types li:last-child a{
  text-transform:lowercase;
  font:italic 13px Georgia;
}

.toc .section ul.compat a{
  color:#1f96b5;
}

.toc .section ul.commands{
  padding-left:3px;
  margin-left:-3px;
}

.toc li.cmm,
.toc li.cm{
  position:relative;
}

.toc li.cm:before{
  content:"·";
  position:absolute;
  left:-11px;
  width:10px;
  text-align:center;
  font-weight:900;
  color:#aaa;
}
.toc li.cmm:before{
  content:"°";
  position:absolute;
  margin-top:3px;
  left:-11px;
  width:10px;
  text-align:center;
  color:#999;
}

.toc .section ul li.others{
  position:relative;
  font-style:italic;
  color:#666;
}

.toc .section ul li.others:hover{
  text-decoration:underline;
  cursor:pointer;
}

.toc .section ul.commands:hover li.others:before{
  content:"+";
  position:absolute;
  left:-10px;
  top:2px;
}

.toc .section ul.compat:hover li.others:before{
  content:"×";
  position:absolute;
  left:-11px;
  top:2px;
}

body.types .toc .section ul.commands,
body.compat .toc .section ul.commands,
body.commands .toc .section ul.types,
body.compat .toc .section ul.types,
body .toc .section ul.compat{
  position:absolute;
  pointer-events:none;
  opacity:0;
  -webkit-transition: opacity .333s;
  background:white;
}


body.commands .toc ul.commands,
body.types .toc ul.types,
body.compat .toc ul.compat{
  opacity:1;
  pointer-events:auto;
  -webkit-transition: opacity .333s;
  background:white;
}


/* the Commands/Types/Etc. toggle */
.toc ul.filter{
  position:absolute;
  left:14px;
  margin-top:30px;
  font:12px/19px "Cabin";
  color:#888;
  padding-left:0;
  list-style:none;
  width:200px;
}

.toc .filter li{
  color:#666;
  display:inline;
}

.toc .filter li+li{
  margin-left:9px;
  position:relative;
}

.toc .filter li+li:before{
  content:" / ";
  color:#589;
  position:absolute;
  left:-9px;
  font-weight:normal;
}

.toc .filter li:hover{
  text-decoration:underline;
  cursor:pointer;
  color:black;
}

.toc .filter li.active{
  font-weight:bold;
  pointer-events:none;
  color:#333;
}

.toc .filter li.active:hover{
  text-decoration:none;
}


.toc .sidebar{
 font:italic 12px/18px Georgia !important;
  position:absolute;
  top:63px;
  margin:0 0 0 14px;
  padding:0;
  width:180px;
  color:#888;
}

.toc .sidebar div{
  position:absolute;
  opacity:0;
  pointer-events:none;
  -webkit-transition:opacity .333s;
}

.toc .sidebar p{
  margin:0 0 8px 0;
  width:160px;
}

.toc .sidebar a{
  color:#555;
}

body.commands .toc .sidebar .commands,
body.types .toc .sidebar .types,
body.compat .toc .sidebar .compat{
  opacity:1;
  pointer-events:auto;
}


/* acknowledgements */
.toc.footer{
  color:#888;
  font: 14px/20px "Cabin";
  padding:7px 0 0 215px;
  border:0;
}

.toc.footer a{
  color:#888;
  -webkit-transition:color .2s;
}

.toc.footer:hover a{
  color:#555;
}


/*
.toc .section ul li,
.toc .section ul hr{
  display:none;
}

.toc .section ul hr ~li{
  display:block;
}
.toc .section ul li em{
  color:#589;
}

.toc .section ul li a[href='#']{
  color:#29bae0;
}
.toc .section ul li a[href='#'],
.toc .section ul li a[href='#'] ~ hr{
  display:none;
}
*/



/***************************************/
/* NAV BAR */
#nav{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  background:rgba(255,255,255,0.9);
  overflow:visible;
  z-index:10;
  min-width:840px;
}

/* section title in the upper left */
#nav h1{
  margin:9px 0 9px 22px;
  float:left;
  width:200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#nav h1 a:hover{ text-decoration:none; }

/* the backlink to the ToC (from a Section page) */
#nav.link h1 a{ color:inherit; }
#nav.link h1:after{
  content:"Manual";
  position:absolute;
  pointer-events:none;
  left:110px;
  opacity:0;
  z-index:10;
  -webkit-transition:opacity .333s;
}
#nav.link{color:#555; }
#nav.link h1{-webkit-transition:color .333s;}
#nav.link h1 span{-webkit-transition:opacity .333s;}
#nav.link h1:hover{color:black;}
#nav.link h1:hover span{ opacity:0; }
#nav.link h1:hover:after{ opacity:1; color:black; }

/* the backlink to the homepage (from the ToC) */
#nav.home h1 a{ color:black; }
#nav.home h1 span{opacity:1; -webkit-transition:opacity .333s;}
#nav.home h1:hover span{ opacity:0; }

/* the active section in the refs siblings-bar or just the orange page title text */
#nav h3{
  color:#bb4200;
  float:left;
  margin:9px 0;
  font-weight:bold;
}
#nav h3.tt{
  font-family:"Courier Prime";
  margin-top:11px;
}

/* special handling for the section-based nav in ref pages */
#nav ul.siblings{
  float:left;
  list-style:none;
  padding-left:0;
}

#nav.link ul.siblings li{
  float:left;
  margin:9px 9px 9px 0;
}

#nav.link ul.siblings li a{
  font-weight:normal;
}

/* prev/next controls in the tutorial nav */
#nav.link ul.chapter{
  /*background:red;*/
  position:absolute;
  list-style:none;
  left:400px;
  width:400px;
  overflow:auto;
}

#nav.link ul.chapter li{
  float:right;
  margin:9px 0 9px 6px;
}

#nav.link ul.chapter li.prev a{
  padding-left:100px;
}

#nav.link li{
  font: 18px "Cabin";
  margin-bottom:1px;
}
#nav.link li a{ color:#bbb; font-weight:bold;}
#nav.link .chapter li a{ color:#bbb; font-weight:normal;}
#nav.link li a:hover{
  text-decoration:none;
  color:#bb4200;
}



/***************************************/
/* ARTICLE PAGE */
.article{
  position:relative;
  max-width:600px;
  margin: 45px 0 48px 215px;
  border-bottom:1px solid #666;
}
.article a{
  font-style:italic;
}

.article a[name]{
  display: block; position: relative; top: -45px; visibility: hidden;
}


.article .section{
  position:relative;
  border-top:1px solid #666;
}


.article.ref > div:before{
  padding-top:15px;
  width:200px;
  text-indent:1px;
  border-top:1px solid #666;
  position:absolute;
  font:800 12px/18px "Cabin";
  text-transform:uppercase;
  letter-spacing:1px;
  left:-200px;
}
.article.ref > div.commands:before{ content:"Commands"; }
.article.ref > div.types:before{ content:"Types"; }
.article.ref > div.compat:before{ content:"NodeBox Compatibility"; }

.article .classic{
  display:none;
  padding-top:4px;
  width:200px;
  text-indent:1px;
  border-top:1px solid #666;
  position:absolute;
  font:800 12px/18px "Cabin";
  text-transform:uppercase;
  letter-spacing:1px;
  left:-200px;
}

.article .classic + div>.section{
  border-color:#ccc;
}


.article a:target + a + .section:before,
.article a:target + .section:before{
  content:"→";
  left:-30px;
  top:-1px;
  font:36px/36px "Monaco";
  position:absolute;
  width:42px;
  height:32px;
  color:#bb4200;
}

.article .definition{
  position:relative;
}

.article .section p{
  max-width:530px;
}

.article .definition h2{
  color:#666;
}

/*.article .definition .row{
  margin-bottom:13px;
}

.article .definition .row pre{
  margin-top:0;
}*/


.article .definition .consts{
  background:#f5f5f3;
  border:1px solid #d3d3ba;
  margin:0 0 14px 0;
}

.article .definition .consts pre{
  margin:0;
  border:0;
  border-bottom:1px solid #d3d3ba;
}
.article .definition .consts p{
  margin:4px 5px 2px 5px;
  color:#3e3e06;
  font-style:italic;
}


.article .definition .blend-modes{
  overflow:hidden;
  width:580px;
}

.article .definition .blend-modes .mode{
  float:left;
  margin:0 12px 20px 0;
  font: 12px "Courier Prime";
  background:url("ref/transparency-grid.png");
  border:1px solid black;
  position:relative;
}
.article .definition .blend-modes .mode > div.label{
  position:absolute;
  background:none;
  top:127px;
  left:0;
}

.article .definition .blend-modes .mode > div{
  background:url("ref/blend-modes.png");
  width:125px;
  height:125px;
  overflow:hidden;
}

.article .definition .blend-modes .mode .normal{background-position:-0px 0;}
.article .definition .blend-modes .mode .copy{background-position:-125px 0;}
.article .definition .blend-modes .mode .xor{background-position:-250px 0;}
.article .definition .blend-modes .mode .multiply{background-position:-375px 0;}
.article .definition .blend-modes .mode .screen{background-position:-500px 0;}
.article .definition .blend-modes .mode .overlay{background-position:-625px 0;}
.article .definition .blend-modes .mode .darken{background-position:-750px 0;}
.article .definition .blend-modes .mode .lighten{background-position:-875px 0;}
.article .definition .blend-modes .mode .difference{background-position:-1000px 0;}
.article .definition .blend-modes .mode .exclusion{background-position:-1125px 0;}
.article .definition .blend-modes .mode .color-dodge{background-position:-1250px 0;}
.article .definition .blend-modes .mode .color-burn{background-position:-1375px 0;}
.article .definition .blend-modes .mode .soft-light{background-position:-1500px 0;}
.article .definition .blend-modes .mode .hard-light{background-position:-1625px 0;}
.article .definition .blend-modes .mode .hue{background-position:-1750px 0;}
.article .definition .blend-modes .mode .saturation{background-position:-1875px 0;}
.article .definition .blend-modes .mode .color{background-position:-2000px 0;}
.article .definition .blend-modes .mode .luminosity{background-position:-2125px 0;}
.article .definition .blend-modes .mode .source-in{background-position:-2250px 0;}
.article .definition .blend-modes .mode .source-out{background-position:-2375px 0;}
.article .definition .blend-modes .mode .source-atop{background-position:-2500px 0;}
.article .definition .blend-modes .mode .plus-darker{background-position:-2625px 0;}
.article .definition .blend-modes .mode .plus-lighter{background-position:-2750px 0;}
.article .definition .blend-modes .mode .destination-over{background-position:-2875px 0;}
.article .definition .blend-modes .mode .destination-in{background-position:-3000px 0;}
.article .definition .blend-modes .mode .destination-out{background-position:-3125px 0;}
.article .definition .blend-modes .mode .destination-atop{background-position:-3250px 0;}
.article .definition .blend-modes .mode .clear{background-position:-3375px 0;}
/*.article .contents h2,*/
/*
.article .contents{
  min-width:500px;
  overflow:auto;
}

.article ul.methods{
  width:120px;
  float:left;
}
*/



@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  body, html, pre{
    -webkit-text-size-adjust: 220%;
  }

  body.commands,
  body.types,
  body.compat{
    -webkit-text-size-adjust: 100%;
  }

  #nav{
    position:relative;
    display:block;
    min-width:inherit;
    overflow:auto;
  }
  #nav.link ul.chapter{
    position:relative;
    left:auto;
    width:auto;
    float:left;
    clear:both;
  }
  .article{
    margin-left:20px;
    /*max-width:800px;*/
  }

  .article{
    width:auto;
  }
  .article .section .row p{
  }

  .section:before{
    display:none;
  }
/*
  body, table, td, input, select, option, textarea { font: 32px/42px Georgia;}
  h1, h3 { font: bold 48px "Cabin"; }
  h3 { margin-top: 36px; }
  h2 { font: bold 32px/42px "Cabin"; margin-top: 15px; }
  pre { font-size: 32px/38px; font-family:"Courier Prime"; overflow:auto;}
  code { font-family:"Courier Prime"; letter-spacing:0; line-height: 42px;}
  code.box{ padding:0 4px;}
  p code { font-size:32px;}
  .message { font: bold 32px/42px "Cabin"; }
  div#title h1 { line-height: 0.8em; margin: 0; padding: 0; font-size: 50px; letter-spacing: -3px; }
*/}
