{% from 'nav.html' import nav %}
<!DOCTYPE html>

{% set metamanagers = ['export()', 'bezier()', 'plotstyle()', 'transform()', 'layer()', 'font()', 'layout()', 'color()',  ]%}
{% set managers =  ['stroke()', 'fill()', 'pen()', 'translate()', 'rotate()', 'scale()', 'skew()', 'reset()', 'alpha()', 'blend()', 'shadow()', 'plot()', ('plot()', 'clear()'), ('clip()', 'mask()'), ]%}

{%- macro sectionpage(src) -%}
{%- set dst = 'Misc' if src in ('Entropy', 'Utility') else src -%}
ref/{{dst}}.html
{%- endmacro %}


{%- macro reference(sect, link, group) -%}
{% set ctxclass='%s cm' % group if link in managers+metamanagers else group %}
{% set typeclass=' collection' if (group=='types' and link[0]==link[0].lower()) else '' %}
{% if isinstance(link, tuple) %}
<li class="{{ctxclass}}">{% for lnk in link %} <a href="ref/{{sect}}.html#{{lnk}}">{{lnk}}</a> {% endfor%} </li>
{% elif not link %}
<li><hr></li>
{% else %}
<li class="{{ctxclass}}{{typeclass}}"><a href="{{sectionpage(sect)}}#{{link}}">{{link}}</a></li>
{% endif %}
{%- endmacro %}

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <script type="text/javascript" src="//use.typekit.net/rlk5mlb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="etc/toc.css" type="text/css" charset="utf-8">
  <title>PlotDevice Manual</title>
</head>
<body class="commands">
  <main>

  <header>
    <h1><a href="http://plotdevice.io">PlotDevice <span>Manual</span></a></h1>
  </header>

  <a name="tut"></a>
  <div id="tutorials" class="toc">
    <h1>Tutorials</h1>
    <div class="sections">
      {% for sect, links in tut.items() %}
      <div class="section">
        <h2>{{sect}}</h2>
        <ul>
          {% for link in links %}
          <li><a href="tut/{{link}}.html">{{link.replace('_',' ').replace('Bezier','Bézier')}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>


  <a name="ref"></a>
  <div id="commands" class="toc">
    <h1>Commands</h1>

    <nav>
      <ul class="filter">
        <li class="commands active">Modern</li>
        <li class='compat'>Legacy</li>
      </ul>
      <aside class="commands">
        <p>Commands marked with a dot support the python <a title="a.k.a. ‘context managers’" href="https://docs.python.org/3/reference/compound_stmts.html#with"><code>with</code></a>
           statement to <a href="tut/Graphics_State.html#with">limit their scope</a>.</p>
      </aside>
      <aside class="compat">
        <p>NodeBox commands drawn in cyan are supported but most have been obviated by an alternate syntax.</p>
        <p>Consult their reference entries for details.</p>
      </aside>
    </nav>

    <div class="sections">
      {% for sect, groups in ref.items() %}
      <div class="section {{sect.lower()}}">
        <h2><a href="{{sectionpage(sect)}}">{{sect.replace('+',' &amp; ')}}</a></h2>
        <ul class="commands">
        {% for group in ['commands', 'compat'] %}
          {% for link in groups[group] %}
          {{ reference(sect, link, group) }}
          {% endfor %}
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>


  <a name="types"></a>
  <div id="types" class="toc">
    <h1>Objects</h1>
    <nav>
      <aside class="types">
        <p>To create graphics objects without adding them to the canvas, instantiate them from their respective classes.</p>
      </aside>
    </nav>

    <div class="sections">
    {% for sect in sorted(ref) %}
      {% if 'types' in ref[sect] %}
      <div class="section">
        <h2><a href="{{sectionpage(sect)}}">{{sect.replace('+',' &amp; ')}}</a></h2>
        <ul>
          {% for link in ref[sect]['types'] %}
          {{ reference(sect, link, 'types') }}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

{#
  <div id="lib" class="toc">
    <h1>Libraries</h1>
    <div class="sections">
      {% for sect, links in lib.items() %}
      <div class="section">
        <h2>{{sect}}</h2>
        <ul>
          {% for link in links %}
          <li><a href="lib/{{link.replace(' ','_')}}.html">{{link}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
#}
  <footer class="toc">
    Derived from <a href="http://organisms.be">Tom De Smedt</a>’s manual for <a href="https://www.nodebox.net/code/index.php/Home">NodeBox</a>
    <a href="http://www.emrg.be/" title="Experimental Media Research Group">© 2004-2012</a>.
    <br>
    Rewritten for <a href="http://plotdevice.io">PlotDevice</a> by <a href="http://samizdat.co">Christian Swinehart</a> © 2015–<span class="now">2022</span>
  </footer>

  <script src="etc/zepto.min.js"></script>
  <script>
    Zepto(function($){

      $("footer.toc .now").text(new Date().getFullYear())

      // handle Commands/Types clicks for the refs
      $('.filter').on('click', 'li', function(e){
        var elt = $(e.target).closest('li')
        $('.filter li.active').removeClass('active')
        $('body').attr('class',elt.attr('class'))
        elt.addClass('active')
      })
    })
  </script>
</main>
</body>
</html>
